@charset "UTF-8";

body {
    background-color: #121212;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: #282828;
    width: 100%;
    height: 70px;
}

.modeselect {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: flex-end;
}
.mode{
    margin-right: 5px;
    margin-top: 2px;
    height: 23px;
    border: none;
    background-color: #FFD966;
    font-family: monospace;
    border-radius: 8px;
}
.mode:last-of-type {
    margin-right: 30px;
}