@charset "UTF-8";

@font-face {font-family: OutfitEB; src: url('SRC/Outfit/Outfit-ExtraBold.ttf');}
@font-face {font-family: OutfitL; src: url('SRC/Outfit/Outfit-Light.ttf');}
@font-face {font-family: OutfitEL; src: url('SRC/Outfit/Outfit-ExtraLight.ttf');}

body {
    margin: 0;
    background-color: #121212;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 130px;
    font-family: 'OutfitEB';
    font-weight: 900;
}
.logo {
    display: block;
    color: #FFFFFF;
    font-size: 32px;
    cursor: pointer;
}
.navbuttons {
    display: flex;
}
.navbuttons p {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 80px;
    margin-top: 40px;
}
.navbuttons p:hover {
    color: #00ADB5;
    cursor: pointer;
}


.me {
    height: 200px; width: 200px;
    margin-left: 200px;
    border-radius: 50%;
    margin-top: 100px;
}


.desc {
    font-size: 48px;
    color: #FFFFFF;
    margin-left: 200px;
}
.d_light {
    font-family: 'OutfitEL';
    margin-bottom: -30px;
}
.d_bold {
    font-family: 'OutfitEB';
}


.projectb {
    width: 240px; height: 70px;
    border-radius: 35px;
    background-color: #00ADB5;
    border: none;
    font-family: 'OutfitEB';
    font-size: 32px;
    color: #FFFFFF;
    margin-left: 220px;
}
.projectb:hover {
    background-color: #00747A;
    cursor: pointer;
}


.stack1 {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    height: 30px; width: 780px;
    margin-top: 180px;
}
h3 {
    display: block;
    color: #A3A3A3;
    font-family: 'OutfitEB';
    font-size: 16px;
    text-indent: 20px;
}
.stack2 {
    display: flex;
    margin: 0 auto;
    background-color: #A3A3A3;
    width: 780px;
    border-radius: 18px;
    justify-content: space-between;
    padding: 4px 30px;
}
.stack2 p {
    font-family: 'OutfitEB';
    font-size: 20px;
}


h2 {
    display: block;
    color: #FFFFFF;
    font-family: 'OutfitEB';
    font-size: 24px;
    margin-left: 200px;
    margin-top: 220px;
}
.about {
    margin: 40px 130px;
    color: #FFFFFF;
    font-family: 'OutfitL';
    font-size: 20px;
}


#h2p {
    margin-top: 180px;
    margin-bottom: 80px;
}
.projects1 , .projects2{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 240px; width: 80%;
    background-color: transparent;
}
.projects1 button, .projects2 button {
    background-color: transparent;
    height: 140px; width: 320px;
    border: 5px dotted #FFFFFF;
    border-radius: 50px;
}


#h2c {
    margin-top: 100px;
    margin-bottom: 50px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 220px;
    width: 82%;
    background-color: transparent;
}
.contacts button {
    width: 180px; height: 60px;
    border-radius: 20px;
    border: none;
    font-family: 'OutfitEB';
    font-size: 24px;
}
.contacts button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
#email {background-color: #A3A3A3;}
#linkedin {background-color: #0072B1;}
#twitter {background-color: #1DA1F2;}
#instagram {background-color: #833AB4;}
#facebook {background-color: #3B5998;}
#whatsapp {background-color: #075E54;}


footer {
    display: block;
    background-color: #080808;
    width: 100%; height: 80px;
    margin-top: -40px;
}



@media screen and (max-width: 600px) {
    
    .navbar {
        display: block;
        justify-content: space-between;
        margin: unset;
    }
    .logo {
        display: block;
        font-size: 28px;
        margin-left: 30px;
    }
    .navbuttons {
        display: flex;
    }
    .navbuttons p {
        display: block;
        color: #00ADB5;
        font-size: 16px;
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 0;
    }


    .me {
        height: 100px; width: 100px;
        margin-left: 40px;
        border-radius: 50%;
        margin-top: 60px;
    }
    
    
    .desc {
        font-size: 26px;
        margin-left: 30px;
    }
    .d_light {
        margin-bottom: -20px;
    }
    
    
    
    .projectb {
        width: 140px; height: 45px;
        border-radius: 35px;
        font-size: 16px;
        margin-left: 30px;
    }
    
    
    .stack1 {
        height: 30px; width: unset;
        margin: 80px 0 0 0;
    }
    h3 {
        font-size: 14px;
        text-indent: 40px;
    }
    .stack2 {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        width: auto;
        border-radius: 12px;
        padding: 0 20px;
    }
    .stack2 p {
        font-size: 13px;
    }
    
    
    h2 {
        font-size: 18px;
        margin-left: 50px;
        margin-top: 100px;
    }
    .about {
        margin: 20px 30px;
        font-size: 16px;
    }
    
    
    #h2p {
        margin-top: 100px;
        margin-bottom: -10px;
    }
    .projects1 , .projects2{
        display: block;
        margin: 0;
        height: 80px; width: 100%;
    }
    .projects1 button, .projects2 button {
        height: 50px; width: 100px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 20px;
    }
    
    
    #h2c {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .contacts {
        display: inline-block;
        height: 280px; width: auto;
    }
    .contacts button {
        width: 140px; height: 50px;
        border-radius: 14px;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    
    
    footer {
        display: block;
        background-color: #080808;
        width: 100%; height: 60px;
    }

}